/* @font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
h2 {
  color: red;
  background-color: yellow;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 5rem;
  color: crimson;
}

/*# sourceMappingURL=style.css.map */
.admin{
  /* width:100%; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.admin > .container{
  width:80%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.admin > .container > .admin__right{
  background-color: #fffced;
   
}
.admin__right{
  background-color: #FFFCED;
}
.admin__img{
margin-bottom: 22px;
margin-top: 22px;
padding-left:50px;
padding-right: 50px;
cursor: pointer;
}
.admin__menu > li{
  display:flex;
  align-items: center;
  gap: 16px;
  margin-left: 44px;
  margin-right: 44px;
  padding:7px 17px;
 cursor: pointer;
 border-radius: 12px;
 margin-bottom: 19.62px;
}
.admin__menu > li:hover{
 background-color: #FFDC03;
}
.admin__menu > li > img {
    display:block;
}
.admin__menu__sub{
margin-top: 10px;
}

.admin__menu__sub > h4{

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #5E6366; 
  font-family: 'Poppins', sans-serif;
}
.admin__menu__sub > p{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #5E6366; 
}

/* left Side Admin */
.admin__left > .container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.admin__left{
  padding-left:0px;
}
.burger{
  cursor: pointer;
}
/* Arizalar section */
.arizalar{
  margin-top: 55px;
  margin-right: 50px;
  margin-left: 50px;
}
.arizalar>h2{
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 16px;
  color: #000000;
  background-color: #fff;
}
.arizalar> p{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color:#000;
  margin-bottom: 50px;
  margin-top: 10px;
}
